<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='colorpictures.css')}}" type="text/css">
    <title>Color Pictures</title>
</head>
<body>
    <div id="main">
        <div>
            <button class="back">BACK</button>
        </div> 
        <div id="tieu_de">
            <h1>Placards</h1>
        </div>
        <div>
            <img class="pictures" src="https://previews.123rf.com/images/ellinanova/ellinanova1610/ellinanova161000005/64448631-black-line-butterfly-for-greeting-card-coloring-book-invitation-posters-texture-backgrounds-placards.jpg" alt="">
            <img class="pictures" src="https://thumbs.dreamstime.com/z/black-line-abstract-flower-isolated-white-background-can-be-used-coloring-book-card-invitation-posters-placards-banners-85921188.jpg" alt="">
            <img class="pictures" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2DUvAESeW5hq-Dq9Vat-BapkqnhN_n4jyKgJHOzQomqK_8KNH" alt="">
        </div>
        <div>
            <button class="nut_pic">Choose</button>
            <button class="nut_pic">Choose</button>
            <button class="nut_pic">Choose</button>
        </div>  
    </div>   
</body>
</html>